/* CSS Document */

.raindrop { width:50px; height:50px;
			background-color:rgba(51,53,153,1);
			border-top-right-radius:100px;
			border-bottom-left-radius:100px;
			border-bottom-right-radius:100px;
			transform: rotate(45deg);
			-ms-transform: rotate(45deg); /* IE 9 */
			-webkit-transform: rotate(45deg); /* Safari and Chrome */
			position:absolute;  }

.ground { 	width:600px; height:50px;
			background-color:#666;
			position:absolute;}